.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
}

.nav-header img {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.app {
  max-width: 90%;
  margin: 0 auto;
}

.news-container {
  display: flex;
  overflow: hidden;
}

.news-container > *:nth-child(1) {
  width: 30%;
}

.news-container > *:nth-child(2) {
  width: 70%;
}

.main-content pre {
  background: #333333;
  color: #ffff99;
  border-radius: 0.3rem;
  padding: 1rem;
}

form {
  margin-top: 1.5rem;
  padding-right: 3rem;
}

form input, form label {
  display: block;
}

form input, for textarea {
  border-radius: 0.2rem;
  border: 1px #dfdfdf solid;
  padding: 0.5rem;
  width: 100%;
}

form button {
  margin-top: 10px;
}
